<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Cyber Threats in Australia</title>
    <link rel="stylesheet" href="https://apply.holbertonschool.com/level2/school.css" />
    <link rel="index" href="index.html" />
    <script src="behavior.js"></script>
    <style>
      * {
      box-sizing: border-box; /*Ensures padding and border are included in element's total \
width and height */
      }

      body {
      margin: 0;
      font-family: Arial, sans-serif; /*Specifies the font for the entire page*/
      background-color: #f4f4f9; /*Sets the background color of the page*/
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      }

      header, footer { /*rule styles the <header> and <footer> elements by giving them a da\
rk background with white centered text and some vertical padding for spacing*/
      background-color: #333;
      color: white;
      text-align: center;
      padding: 10px 0;
      }

      header ul li a {  /*headers Homa and Tweets*/
      color: white;
      text-decoration: none;
      font-weight: bold;
      font-size: 22px;
      }

      main {
      display: flex;
      flex: auto;
      padding: 20px;
      gap: 20px;
      }

      article {
      flex: 2;
      overflow-y: auto;
      }
     aside {
      flex: 1;
      background-color: #555;
      color: white;
      padding: 10px;
      overflow-y: auto;
      font-style: italic;
      }

      .container {
      background-color: #fff;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      h1, h2, h3, h4 {
      color: #333;
      text-align: center;
      }

      table {
      width: 100%;
      border-collapse: separate; /* Change from collapse to separate */
      border-spacing: 0 10px; /* Add space between rows */
      }
      th, td {
      padding: 15px;
      text-align: left;
      border: 1px solid #ddd;
        }


      img {
      width: 310px;
      height: auto;
      margin: 30px 0;
      }

      ul {
      padding-left: 30px;
      }

      footer a {
      color: white;
      text-decoration: none;
      }

      footer a:hover {
      color: #ccc;
      }
    </style>
  </head>

  <body class="works_on_smartphone">
    <header>
